<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvb6M_LUjqsXCXW1STZ2cw_2-eLQ9-Gbw</string>
	<key>GCM_SENDER_ID</key>
	<string>351059508222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mgogolowicz.loginUi</string>
	<key>PROJECT_ID</key>
	<string>tourism-cb86f</string>
	<key>STORAGE_BUCKET</key>
	<string>tourism-cb86f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351059508222:ios:d865a436c0d76c5fca9eaf</string>
</dict>
</plist>